<p>Hola, @ViewBag.Nombre (@ViewBag.Edad años)</p>
<p>Plato sugerido: @ViewBag.Plato</p>
<p>Tiempo estimado: @ViewBag.Tiempo minutos</p>
<p>Para: @ViewBag.Personas personas</p>
<p>Dificultad: @ViewBag.Dificultad</p>